@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>I made a change to this file! Why is this not working</p>
<h1>What's up dog'</h1>
<p>This is fun</p>
<p>Massive changes. Huge!</p>
<p>Hey, I've got some more changes too.'</p>